/* @font-face {
  font-family: 'Milliard';
  font-style: normal;
  font-weight: normal;
  src: url('./milliard-cufonfonts-webfont/Rene\ Bieder\ \ Milliard\ Book.woff') format('woff');
}

@font-face {
  font-family: 'Milliard';
  font-style: italic;
  font-weight: normal;
  src: url('./milliard-cufonfonts-webfont/Rene\ Bieder\ \ Milliard\ Book\ Italic.woff') format('woff');
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden bg-stone-50 print:bg-white;
  -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important; /* Firefox 48 – 96 */
  print-color-adjust: exact !important;
}

a {
  @apply relative lg:whitespace-nowrap;
}

a::after {
  content: '';
  @apply bg-purple-200 w-full h-full absolute top-[0.15em] left-[0.14em] -z-10;
}

article > main > p,
aside > header > p {
  @apply my-3;
}

mark {
  @apply bg-transparent relative;
}

mark::after {
  content: '';
  @apply bg-emerald-100 w-full h-full absolute top-[-0.06em] left-[-0.12em] -z-10;
}
