$solar-system-size: 10pc;

.background {
  background-color: rgb(11, 11, 24);
  position: fixed;
  width: 100%;
  height: 100%;

  @mixin positioning2($size) {
    width: $size;
    height: $size;
    top: calc(50% - ($size / 2));
    left: calc(50% - ($size / 2));
  }

  // @mixin positioning($size) {
  //   width: $size;
  //   height: $size;
  //   top: calc(50% - );
  // }

  @mixin rotate-itself($time) {
    @keyframes rotate-iteself {
      from{
        transform: rotate(0);
      }
      to{
        transform: rotate(360deg);
      }
    }

    animation: rotate-iteself linear $time infinite;
  }

  @mixin rotate-around($time, $y) {
    @keyframes rotate-around {
      from{
        transform: rotate(0) translatey($y);
      }
      to{
        transform: rotate(360deg) translatey($y);
      }
    }

    animation: rotate-around linear $time infinite;
  }

  .orbit {
    img {
      position: fixed;
    }

    &.sun {
      $sun-size: 1 * $solar-system-size;
      $solar-station-size: 0.1 * $solar-system-size;

      img {
        &:first-child {
          @include positioning2($sun-size);
          @include rotate-itself(50s);
        }

        &:last-child{
          @include positioning2($solar-station-size);
          @include rotate-around(8s, -($sun-size / 3));
        }
      }
    }

    &.hourglass-twin{
      $hourglass-twin-orbit-size: 1.6 * $solar-system-size;

      position: fixed;
      @include positioning2($hourglass-twin-orbit-size);
      @include rotate-itself(20s);

      .hourglass-twin-planet {
        width: 140px;
        height: 65px;

        @include rotate-itself(20s);
      }

      img {
        $ash-twin-size: 0.23 * $solar-system-size;
        $ember-twin-size: 0.16 * $solar-system-size;

        &:first-child {
          width: $ash-twin-size;
        }

        &:nth-child(2){
          width: $ember-twin-size;
          transform: translate(95%, 230%);
        }

        &:nth-child(3) {
          width: $ember-twin-size;
          transform: translate(175%, 20%);
        }
      }
    }

    &.timber-hearth{
      position: fixed;

      @include positioning2(650px);

      .timber-hearth-planet{
        position: relative;

        width: 70px;
      }

      img{
        position: absolute;

        &:first-child{
          @include positioning2(70px);
          @include rotate-itself(10s)
        }

        &:nth-child(2) {
          @include positioning2(40px);
          @include rotate-around(8s, 70px)
        }
      }
    }
  }

  img {
    width: 50px;
  }
}

