@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
/* colors
#00796b
#1565c0
#00695c
#9e9d24
#d84315
*/

body {
	margin: 0 auto;
	width: 21cm;	height: 29.7cm;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

#page {
	width: 21cm;
	height: 29.7cm;
	padding: 1.3cm;
	box-sizing: border-box;
	background-image: url(bg.jpg);
	background-position: top right;
	background-size: auto 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}

h1 {
	font-size: 1cm;
	font-weight: 700;
	margin-top: 0;
	text-transform: uppercase;
	margin-bottom: 5px;
}

h2,
h3,
h4,
h5 {
	margin-top: 0;
}

h2 {
	text-transform: uppercase;
	border-bottom: 3px solid;
	margin-bottom: 0px;
	margin-top: 16px;
	font-size: 0.7cm;
}

h3 {
	font-weight: 600;
	font-size: 0.55cm;
}

h4 {
	margin-top: 8px;
	font-size: 0.6cm;
	margin-bottom: 0;
	font-weight: normal;
}

h5 {
	font-size: 0.43cm;
	margin: 0;
}

.primary,
h1,
h2 {
	color: #006064;
}

.secundary,
i,
h3,
h4,
.progress-indicator--item_complete .progress-indicator--dot,
.progress-indicator--item.progress-indicator--item_complete::before,
.progress-indicator--item.progress-indicator--item_complete::after,
.progress-indicator--item.progress-indicator--item_current::before,
.progress-indicator--item_current .progress-indicator--dot,
.speech b {
	color: #558b2f;
	border-color: #558b2f;
}

#contact .col,
#professional .col,
#education .period,
.speech span,
#contact,
#professional .info,
#education .period,
.speech span {
	color: #444;
	font-weight: 300;
	font-size: 0.35cm;
}

.characteristic,
#professional .job,
#education>.education,
.speech,
.group,
.power,
#lifePhilosophy>p {
	border-bottom: dashed 1px #b9b9b9;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

.material-icons.small {
	font-size: 0.47cm;
	margin-right: 0.15cm;
}

#contact>.line {
	display: flex;
}

#contact .col,
#professional .col,
#education .period {
	display: flex;
	align-items: center;
}

#contact .col:first-child {
	flex: 1;
}

#contact .col:last-child {
	flex: 2;
}

#content {
	display: flex;
}

#main {
	flex: 3;
	padding-right: 30px;
}

#professional .job,
#education>.education {
	padding-bottom: 8px;
}

#professional .info,
#professional .languages {
	display: flex;
}

#professional .languages {
	margin-top: 0.2cm;
}

#professional .language,
#languages .item {
	border: #000 1px solid;
	border-radius: 2px;
	margin: 3px 3px 0px 0px;
	padding: 3px;
	text-transform: uppercase;
}

#professional .company {
	margin: 0 0 0.1cm 0;
}

#professional .language {
	font-size: 0.3cm;
}

#professional .period {
	flex: 2;
}

#education .info {
	display: flex;
	margin-top: 0.13cm;
}

#education .info .location {
	flex: 1;
}

.speech {
	align-items: center;
	display: flex;
	margin-top: 0.2cm;
	padding-bottom: 0.2cm;
}

.speech>h5 {
	flex: 1;
}

.speech>sub {
	display: flex;
	width: 75%;
}

.speech>sub>div {
	flex: 1;
}

.speech>sub>div:nth-child(2) {
	text-align: center;
}

.speech>sub>div:last-child {
	text-align: right;
}

.speech>sub>div:not(:last-child) {
	border-right: 1px solid;
}

.speech b {
	font-weight: 700;
}

#lifePhilosophy>p {
	font-size: 0.45cm;
	margin: 0;
	padding: 0.15cm 0;
	font-style: italic;
}

#characteristics .container {
	display: flex;
}

#characteristics .powers,
#characteristics .score {
	display: flex;
	flex-direction: column;
	flex: 1;
}

#characteristics .powers {
	align-items: flex-end;
}

#characteristics .score {
	align-items: flex-start;
}

.characteristic {
	padding-bottom: 0.25cm;
}

#secondary {
	flex: 2 1;
	flex-shrink: 0;
}

.list_of_languages .items {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: center;
}

.group {
	display: flex;
	padding: 10px 0px;
}

.legend {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	justify-content: center;
}

#languages i {
	font-size: 0.4cm;
	margin: 0.03cm 0;
}

.dot {
	width: 0.3cm;
	height: 0.3cm;
	border-radius: 1cm;
	border: 1px solid #000;
	margin: 0.08cm 0.15cm;
}

.dot.fill {
	background-color: #00796b;
}

.items {
	flex: 1;
}

#characteristics h5 {
	margin-top: 0.25cm;
}

.progress-indicator {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0px -25px;
}

.progress-indicator--item {
	position: relative;
	flex: 1 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.progress-indicator--item::before,
.progress-indicator--item::after {
	content: "";
	display: block;
	position: relative;
	left: 0px;
	flex: 1;
	height: 0px;
	margin: 0 -2px;
	border-bottom: 3px solid;
	border-color: #d5d5d5;
}

.progress-indicator--item:first-child::before,
.progress-indicator--item:last-child::after {
	background-color: transparent;
	border-color: transparent;
}

.progress-indicator--dot {
	position: relative;
	z-index: 3;
	font-size: 0.3cm !important;
	color: #d5d5d5;
}

.progress-indicator--label {
	position: absolute;
	z-index: 4;
	top: 25px;
	left: 0;
	width: 100%;
	text-align: center;
}

#superPowers>.power {
	display: flex;
	align-items: center;
	padding: 0.15cm 0;
}

#superPowers>.power>div {
	flex: 1;
}

#superPowers h5 {
	width: 85%;
	font-size: 0.5cm;
}

#superPowers i {
	font-size: 0.8cm;
}

#header {
	display: flex;
}

#header>div:first-child {
	flex: 1;
}

#header img {
	border-radius: 20cm;
}