@font-face {
	font-family: 'Comic Sans MS';
	font-style: normal;
	font-weight: 400;
	src: url('../../../fonts/comic-sans-ms.woff') format('woff'),
		url('../../../fonts/comic-sans-ms.ttf') format('truetype');
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Nunito', Arial;
	overflow-x: hidden;
	&.use-comic-sans {
		font-family: 'Comic Sans MS';
	}
}

.prompt {
	font-family: 'VT323', monospace;
	background: #000;
	color: #55ff55;
	padding: 5px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	overflow-y: auto;
	z-index: 100;
	&.minimised {
		height: 40%;
		bottom: 0;
	}
	p {
		margin: 0;
		font-size: 18px;
	}
	.active:after {
		content: '_';
	}
	.ra {
		color: white;
	}
	.forward {
		position: absolute;
		right: 20px;
		top: 20px;
		color: #fff;
		font-family: Arial, Helvetica, sans-serif;
		background: #000;
		border: 1px solid;
		padding: 5px 7px;
		border-radius: 3px;
	}
}

.ra {
	>.me {
		color: #c200ff;
	}
}

main.hide {
	visibility: hidden;
}